on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v3

      - uses: ClydeDz/custom-githubaction-poc@main
        with:
          passparamone: 'Mona'
      
      - run: echo "$PATH"    